.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App-header {
  background-image: url(sport-2264825_1920.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
}
p {
  margin: 0;
}
.iconnav {
  margin-left:7px;
}
ul {
  margin-left: 25px;
}
li {
  margin-left: 15px;
}
#text {
  color: white;
  font-size: calc(10px + 2vmin);
}
